*/**/__pycache__
*/**/*.log
.idea
*/**/*.so
*/**/*.tif*
*/**/*.jp2
**/env
scientific-processor/inbox/S*
data-sample
**/__pycache__
__pycache__
pre-processor/outbox/!README.md
*.sqlite
supervisord.pid
data_local/db/data/*